button {
    width: 100px;
    height: 30px;
    color: #565857;
    background-color: #F3F3F3;
    border: 0;
    cursor: pointer;
}

.customPopover {
    width: 530px;
    height: 440px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.coverImg {
    object-fit: cover;
    height: 200px;
    position: relative;
    top: 0px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.coverImg:hover ~ .hidden, .hidden:hover {
    display: inline;
}

.photosContainer {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    right: 2px;
}

.row {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

.figure {
    display: flex;
    flex-direction: column;
    /* margin-right: 1px; */
    margin-bottom: 1px;
    width: 130px;
}

.thumbnail {
    object-fit: cover;
    max-width: 125px;
    height: 60px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
}

.credit {
    text-decoration-line: underline;
    color: #b3b3b3;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}

.searchBox {
    margin-left: 2px;
    height: 30px;
    /* position: relative; */
    width: 90%;
    border:solid 1px #b3b3b3;
    border-radius: 3px;
    margin: 5px;
    /* margin-bottom: 5px;
    margin-right: 5px; */
}

.fontAwesomeIcon {
    color: #b3b3b3;
}

.center {
    text-align: center;
}